{% extends 'blog/base.html' %}


{% block content %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="title" value="{{ news.title }}">
    </div>

    <div class="input-group">
      <span class="input-group-text">Контент</span>
      <textarea class="form-control"  rows=5 name="content">{{ news.content }}</textarea>
    </div>
    <br>
    <div class="input-group mb-3">
      <input type="file" class="form-control" name="image" value="{{ news.image }}">
    </div>

    <select class="form-select" aria-label="Default select example" name="category">
        {% for nc in news_category %}
            <option value="{{ nc.category_id_id }}">{{ nc.category_id.title }}</option>
        {% endfor %}
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Обновить</button>
</form>



{% endblock content %}